<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mask</title>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">
        <h3>Masks are used for making forms more user friendly!</h3>
        <p><input ng-model="val1" ui-mask="{{ mask1 }}"></p>
        <p>{{ val1 }}</p>
        <p><input ng-model="val2" ui-mask="{{ mask2 }}"></p>
        <p>{{ val2 }}</p>
        <p><input ng-model="val3" ui-mask="{{ mask3 }}"></p>
        <p>{{ val3 }}</p>
        
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="app.js"></script>
</body>
</html>