<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <style>
        input.ng-invalid.ng-dirty {
            border: 1px solid red;
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">
        
        <form name="myForm">
            <p><input name="password" ng-model="password" required /></p>
            <p>
                <input 
                    name="confirm_password" 
                    ng-model="confirm_password" 
                    ui-validate='"validatePassword($value)"'
                    ui-validate-watch='"password"' 
                    required 
                />
            </p>
            <p><button ng-disabled="!myForm.$valid">Submit</button></p>
        </form>
        
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="app.js"></script>
</body>
</html>