<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highlighting</title>
    <style>
        .ui-match {
            background: lightblue;
            color: darkblue;
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">
        <p><textarea name="" id="" cols="60" rows="10" ng-model="text"></textarea></p>
        <p><input ng-model="query" type="search"></p>
        <p ng-bind-html="text | highlight:query:true"></p>
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="app.js"></script>
</body>
</html>